---

---

<div id="exportSize" class="exportSize controlItemsWrapper">

    <div class="hasCheckbox exportSize">

        <label for="exportSize"><h3>Export Size</h3></label>

        <div class="checkboxWrapper">
            
            <input type="checkbox" id="exportSize" />

        </div> <!-- .checkboxWrapper -->

    </div> <!-- .Export Size -->

    <div class="controlItems exportItems" style="display: none;">

        <div class="controlItem hasNumber exportWidthValue">

            <label for="exportWidth">Width</label>

            <input type="number" id="exportWidth" placeholder="Inherit"/>

            <span id="exportWidthValue">Inherit</span>

        </div> <!-- .exportWidthValue -->

        <div class="controlItem hasNumber exportHeightValue">

            <label for="exportHeight">Height</label>

            <input type="number" id="exportHeight" placeholder="Inherit" />

            <span id="exportHeightValue">Inherit</span>

        </div> <!-- .exportHeightValue -->

    </div> <!-- .controlItems -->

</div> <!-- #exportSize -->