---
import "../styles/controls.css";
---

<div id="fill" class="fillItems controlItemsWrapper">

    <div class="hasCheckbox enableFill">

        <label for="enableFill"><h3>Fill</h3></label>

        <div class="checkboxWrapper">
            
            <input type="checkbox" id="enableFill" checked />

        </div> <!-- .checkboxWrapper -->

    </div> <!-- .enableFill -->

    <div class="fillItemsWrapper controlItems">

        <div class="controlItem fillColor">

            <label for="fillColor">Fill Color</label>

            <input type="color" id="fillColor" value="#000000" />

            <span id="fillColorValue">#000000</span>

        </div> <!-- .fillColor -->

        <div class="quickFillColours">

            <h4>Quick Colours</h4>

            <div id="quickFillColoursItems" class="quickFillColourItems">

                <div class="quickFillColour" data-color="#ffffff"></div>

                <div class="quickFillColour" data-color="#f3f4f5"></div>

                <div class="quickFillColour" data-color="#a2d9ff"></div>

                <div class="quickFillColour" data-color="#0099ff"></div>

                <div class="quickFillColour" data-color="#000b76"></div>

                <div class="quickFillColour" data-color="#5000ca"></div>

                <div class="quickFillColour" data-color="#e7008a"></div>

                <div class="quickFillColour" data-color="#ff5500"></div>

                <div class="quickFillColour" data-color="#00cba9"></div>

                <div class="quickFillColour" data-color="#ffd700"></div>

                <div class="quickFillColour" data-color="#273036"></div>

                <div class="quickFillColour" data-color="#000000"></div>

            </div> <!-- #quickFillColoursItems -->

        </div> <!-- .quickFillColours -->

    </div> <!-- .fillItemsWrapper -->

</div> <!-- #fill -->