---
import "../styles/global.css";
import "../styles/controls.css";
import Stroke from "./stroke.astro";
import Fill from "./fill.astro";
import Size from "./sizing.astro";
import Tools from "./tools.astro";
---

<div id="container">

	<main id="main" class="main">

		<section id="render" class="render" style="transform: translateZ(0);">

			<div id="preview" class="preview">

				<svg id="default" width="512" height="384" viewBox="0 0 743 293" xmlns="http://www.w3.org/2000/svg" > <path d="M167.499 74.9148C165.835 60.8567 159.087 49.9432 147.255 42.1742C135.423 34.4053 120.91 30.5208 103.716 30.5208C91.1447 30.5208 80.1444 32.5556 70.7157 36.625C61.3794 40.6944 54.0767 46.2899 48.8077 53.4115C43.6311 60.533 41.0428 68.6256 41.0428 77.6894C41.0428 85.2734 42.8454 91.7937 46.4505 97.2505C50.148 102.615 54.8624 107.1 60.5936 110.707C66.3248 114.222 72.3334 117.135 78.6192 119.447C84.905 121.667 90.6825 123.471 95.9515 124.858L124.792 132.627C132.187 134.569 140.415 137.251 149.474 140.673C158.625 144.095 167.36 148.766 175.68 154.685C184.092 160.512 191.025 168.003 196.479 177.16C201.933 186.316 204.66 197.553 204.66 210.871C204.66 226.224 200.638 240.097 192.596 252.491C184.647 264.884 172.999 274.734 157.654 282.04C142.402 289.347 123.868 293 102.052 293C81.7159 293 64.1063 289.717 49.2237 283.15C34.4335 276.583 22.7862 267.427 14.2818 255.681C5.86986 243.935 1.10927 230.294 0 214.756H35.4965C36.4209 225.484 40.026 234.363 46.3118 241.392C52.6901 248.329 60.7323 253.508 70.4384 256.93C80.2369 260.259 90.7749 261.924 102.052 261.924C115.179 261.924 126.965 259.797 137.41 255.543C147.856 251.196 156.129 245.184 162.23 237.508C168.331 229.739 171.382 220.675 171.382 210.316C171.382 200.883 168.747 193.206 163.478 187.287C158.209 181.368 151.276 176.558 142.679 172.859C134.082 169.159 124.792 165.922 114.809 163.148L79.8671 153.159C57.6818 146.777 40.1184 137.667 27.177 125.829C14.2356 113.991 7.76486 98.4991 7.76486 79.3542C7.76486 63.4463 12.0633 49.5732 20.6601 37.7349C29.3493 25.804 40.9966 16.5552 55.6019 9.98864C70.2997 3.32955 86.7076 0 104.826 0C123.128 0 139.398 3.2833 153.633 9.8499C167.869 16.324 179.146 25.2028 187.466 36.4863C195.878 47.7697 200.315 60.5792 200.777 74.9148H167.499Z" ></path> <path d="M272.845 3.88447L357.149 243.057H360.477L444.781 3.88447H480.832L376.561 288.006H341.065L236.794 3.88447H272.845Z" ></path> <path d="M705.84 92.6724C702.789 83.3311 698.768 74.961 693.776 67.562C688.877 60.0705 683.007 53.6889 676.167 48.4171C669.419 43.1454 661.746 39.1222 653.149 36.3475C644.553 33.5729 635.124 32.1856 624.863 32.1856C608.039 32.1856 592.741 36.5325 578.967 45.2263C565.194 53.9201 554.24 66.7296 546.105 83.6548C537.971 100.58 533.903 121.343 533.903 145.945C533.903 170.547 538.017 191.31 546.244 208.235C554.471 225.161 565.61 237.97 579.661 246.664C593.711 255.358 609.518 259.705 627.082 259.705C643.351 259.705 657.679 256.236 670.066 249.3C682.545 242.271 692.251 232.375 699.184 219.611C706.209 206.756 709.722 191.634 709.722 174.246L720.26 176.466H634.847V145.945H743V176.466C743 199.865 738.008 220.212 728.025 237.508C718.134 254.803 704.453 268.213 686.982 277.74C669.604 287.173 649.637 291.89 627.082 291.89C601.938 291.89 579.845 285.971 560.803 274.133C541.853 262.294 527.063 245.461 516.432 223.634C505.894 201.807 500.625 175.911 500.625 145.945C500.625 123.471 503.63 103.262 509.638 85.3196C515.739 67.2846 524.336 51.9317 535.429 39.2609C546.521 26.5901 559.648 16.879 574.808 10.1274C589.968 3.37579 606.653 0 624.863 0C639.838 0 653.797 2.26594 666.738 6.79782C679.772 11.2372 691.373 17.5726 701.541 25.804C711.802 33.9429 720.352 43.7003 727.193 55.0762C734.033 66.3597 738.748 78.8917 741.336 92.6724H705.84Z" ></path> </svg>

			</div> <!-- #preview -->

			<div class="btn transparent uploadFile">

				<label for="fileInput">Upload SVG</label>

				<input type="file" id="fileInput" accept=".svg" />

			</div> <!-- .uploadFile -->

			<Tools />

		</section> <!-- #render -->

		<section class="controls">

			<div class="controlsWrapper">

				<div class="controlsHeader">
					
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="32"
						height="32"
						viewBox="0 0 256 256"
						><path
							d="M216,130.16q.06-2.16,0-4.32l14.92-18.64a8,8,0,0,0,1.48-7.06,107.6,107.6,0,0,0-10.88-26.25,8,8,0,0,0-6-3.93l-23.72-2.64q-1.48-1.56-3-3L186,40.54a8,8,0,0,0-3.94-6,107.29,107.29,0,0,0-26.25-10.86,8,8,0,0,0-7.06,1.48L130.16,40Q128,40,125.84,40L107.2,25.11a8,8,0,0,0-7.06-1.48A107.6,107.6,0,0,0,73.89,34.51a8,8,0,0,0-3.93,6L67.32,64.27q-1.56,1.49-3,3L40.54,70a8,8,0,0,0-6,3.94,107.71,107.71,0,0,0-10.87,26.25,8,8,0,0,0,1.49,7.06L40,125.84Q40,128,40,130.16L25.11,148.8a8,8,0,0,0-1.48,7.06,107.6,107.6,0,0,0,10.88,26.25,8,8,0,0,0,6,3.93l23.72,2.64q1.49,1.56,3,3L70,215.46a8,8,0,0,0,3.94,6,107.71,107.71,0,0,0,26.25,10.87,8,8,0,0,0,7.06-1.49L125.84,216q2.16.06,4.32,0l18.64,14.92a8,8,0,0,0,7.06,1.48,107.21,107.21,0,0,0,26.25-10.88,8,8,0,0,0,3.93-6l2.64-23.72q1.56-1.48,3-3L215.46,186a8,8,0,0,0,6-3.94,107.71,107.71,0,0,0,10.87-26.25,8,8,0,0,0-1.49-7.06ZM128,168a40,40,0,1,1,40-40A40,40,0,0,1,128,168Z"
						></path></svg
					>

					<h2>Editor</h2>

				</div> <!-- .controlsHeader -->

				<Size />

				<Fill />

				<Stroke />

			</div> <!-- .controlsWrapper -->
			
		</section> <!-- .controls -->
		
	</main> <!-- #main -->

</div> <!-- #container -->

