---
---

<div id="previewSize" class="dimensions controlItemsWrapper">

    <h3>Size</h3>

    <div class="controlItems">

        <div class="controlItem hasNumber widthValue">

            <label for="width">Width</label>

            <input type="number" id="width" value="0" />

            <span id="widthValue">0</span>

        </div> <!-- .widthValue -->

        <div class="controlItem hasNumber heightValue">

            <label for="height">Height</label>

            <input type="number" id="height" value="0" />

            <span id="heightValue">0</span>

        </div> <!-- .heightValue -->

    </div> <!-- .controlItems -->

</div> <!-- #previewSize -->